Repository WordPress/twentytwentyfour, pull requests merged in 2023-08, with the labels that each got.

#31 Add "columns" pattern
  patterns/columns.php
Labels: [Component] Block Patterns, [Status] Needs Design Feedback

#126 Apply missing translation/escaping functions to all current patterns
  patterns/columns.php
  patterns/home.php
  patterns/sidebar-writer.php
  patterns/sidebar.php
Labels: Internationalization (i18n)

#105 Remove default color palette
  theme.json
Labels: [Type] Enhancement, [Component] theme.json

#104 Add GitHub issue templates
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature---enhancement.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Question.md
Labels: [Type] Enhancement

#102 Add fluid spacing scale
  theme.json
Labels: [Component] theme.json

#106 Improve color palette design system
  parts/footer-copy.html
  parts/footer-portfolio.html
  parts/footer-writer.html
  parts/footer.html
  parts/header.html
  parts/post-meta.html
  patterns/home.php
  patterns/sidebar-writer.php
  patterns/sidebar.php
  style.css
  templates/home-portfolio.html
  templates/home-writer.html
  theme.json
Labels: [Type] Enhancement, [Component] theme.json

#138 Fix accent-3 to match Figma
  theme.json
Labels: [Component] theme.json

#144 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: [Type] Task
