Repository WordPress/twentytwentyfour, pull requests merged in 2023-09, with the labels that each got.

#109 Add duotone presets
  theme.json
Labels: [Type] Enhancement, [Component] theme.json

#166 Update left aligned cta image
  patterns/left-aligned-cta-image.php
Labels: [Component] Block Patterns, Internationalization (i18n)

#181 Update "Contrast" to #222222
  theme.json
Labels: Accessibility (a11y)

#182 Add centered call to action
  patterns/cta.php
Labels: [Component] Block Patterns

#67 Hero pattern
  patterns/hero.php
Labels: [Component] Block Patterns

#64 Grid of Features Pattern
  patterns/grid-of-features.php
Labels: [Component] Block Patterns

#207 Create project description pattern
  patterns/project-description.php
Labels: [Type] Enhancement, [Component] Block Patterns

#208 Create about-2 pattern
  patterns/about-2.php
Labels: [Type] Enhancement, [Component] Block Patterns

#210 Fix minor inconsistencies between new patterns
  patterns/about-2.php
  patterns/project-description.php
  patterns/services-cta.php
Labels: [Component] Block Patterns

#158 Faq Pattern Section
  functions.php
  patterns/faq.php
  style.css
Labels: [Component] Block Patterns

#86 Add "posts" pattern
  patterns/posts.php
Labels: [Component] Block Patterns

#69 Created pattern Features with Images
  patterns/features-with-images.php
Labels: [Component] Block Patterns

#211 Fix grid features pattern
  patterns/feature-grid.php
  patterns/grid-of-features.php
Labels: [Component] Block Patterns

#227 Update FAQ design to spec
  patterns/faq.php
Labels: [Component] Block Patterns

#231 Update project details pattern
  patterns/project-details.php
Labels: [Component] Block Patterns

#234 Add viewport widths to improved patterns
  patterns/faq.php
  patterns/feature-grid.php
  patterns/landing-page-cta.php
  patterns/services-cta.php
Labels: [Type] Enhancement, [Component] Block Patterns

#236 Add gradients
  theme.json
Labels: [Component] theme.json

#237 Use preset radii
  theme.json
Labels: [Type] Enhancement, [Component] theme.json

#238 Fix two patterns for improved mobile
  patterns/about-2.php
  patterns/faq.php
  patterns/project-details.php
Labels: [Component] Block Patterns

#274 Add offset image query loop pattern
  patterns/offset-grid-image-posts.php
  templates/home-portfolio.html
Labels: [Component] Block Patterns

#277 Adjust default page and no title templates
  templates/page-no-title.html
  templates/page.html
Labels: [Component] Templates

#268 Add fluid type scale
  theme.json
Labels: [Component] theme.json

#279 Use presets for outer spacing
  theme.json
Labels: [Component] theme.json

#281 Organize starter page patterns
  patterns/page-01-business-home.php
  patterns/page-02-business-about.php
  patterns/page-03-portfolio-overview.php
  patterns/page-04-newsletter-landing.php
Labels: [Type] Enhancement, [Component] Block Patterns

#266 Clients pattern adjustments
  assets/images/client-logo-1.webp
  assets/images/client-logo-2.webp
  assets/images/client-logo-3.webp
  assets/images/client-logo-4.webp
  assets/images/client-logo-5.webp
  patterns/clients.php
Labels: [Type] Enhancement, [Component] Block Patterns

#295 Update links on patterns
  patterns/about.php
  patterns/hidden-sidebar-writer.php
Labels: [Component] Block Patterns

#322 Add portfolio template type
  parts/footer-portfolio.html
  patterns/template-home-portfolio.php
  templates/home-portfolio.html
Labels: [Type] Enhancement, [Component] Block Patterns, [Component] Templates

#187 Add H1 to templates
  patterns/hidden-comments.php
  patterns/posts.php
  templates/index.html
  templates/page-portfolio.html
  templates/page-writer.html
  templates/search.html
  templates/single-with-sidebar.html
  templates/single-writer.html
  templates/single.html
Labels: [Type] Bug, Accessibility (a11y)

#345 Updated footer for better a11y
  patterns/footer.php
Labels: Accessibility (a11y), [Status] Needs a11y Feedback

#66 Add code indentation and escape image links
  patterns/left-aligned-cta-image.php
Labels: Internationalization (i18n), [Type] Code Quality

#316 Header template part cleanup
  parts/header-copy.html
  parts/header-portfolio.html
  parts/header-writer.html
  parts/header.html
  patterns/page-01-business-home.php
  patterns/template-home-portfolio.php
  templates/404.html
  templates/archive.html
  templates/home-writer.html
  templates/home.html
  templates/index.html
  templates/page-no-title.html
  templates/page-portfolio.html
  templates/page-writer.html
  templates/page.html
  templates/search.html
  templates/single-with-sidebar.html
  templates/single-writer.html
  templates/single.html
  theme.json
Labels: Accessibility (a11y), [Status] Needs Design Feedback, [Status] Needs a11y Feedback

#271 Bring back translations to the pricing pattern
  patterns/pricing.php
Labels: [Component] Block Patterns, Internationalization (i18n)

#367 Use font slugs
  patterns/about-2.php
  patterns/about.php
  patterns/centered-statement.php
  patterns/columns.php
  patterns/footer-portfolio.php
  patterns/footer.php
  patterns/hidden-hidden-intro-text-left.php
  patterns/hidden-sidebar.php
  patterns/project-description.php
  patterns/project-details.php
  patterns/rsvp.php
  patterns/testimonial.php
  theme.json
Labels: [Type] Enhancement, [Component] Block Patterns, [Component] theme.json, [Status] Needs Design Feedback, [Component] Style Variations

#292 Left Aligned Call to Action with Image pattern adjustments
  patterns/left-aligned-cta-image.php
Labels: [Component] Block Patterns

#357 Add Theme Style Variation: Onyx
  patterns/page-04-newsletter-landing.php
  patterns/services-cta.php
  styles/onyx.json
  theme.json
Labels: [Component] Style Variations

#386 Remove the H1 from the posts pattern
  patterns/posts.php
Labels: [Type] Enhancement, Accessibility (a11y)

#393 Add rust theme variation
  styles/rust.json
Labels: [Component] Style Variations

#407 Fix broken writer home template pattern
  patterns/page-06-writer-home.php
Labels: [Component] Templates

#382 Add: Single portfolio template
  patterns/template-single-portfolio.php
Labels: [Component] Templates

#410 Fix sidebar display in site editor + make it more consistent
  patterns/hidden-sidebar.php
Labels: [Type] Enhancement, [Component] Template Parts

#413 Styles Variation Schema Move To Top
  styles/onyx.json
  styles/rust.json
Labels: [Component] Style Variations

#399 Add page with sidebar
  templates/page-with-sidebar.html
  theme.json
Labels: [Component] Templates

#374 Update default index, archive and search
  patterns/archive.php
  patterns/hidden-post-meta.php
  templates/archive.html
  templates/index.html
  templates/search.html
Labels: [Component] Templates

#429 Template cleanup
  templates/page-wide.html
  templates/page-writer.html
  theme.json
Labels: [Component] Templates

#430 Make post meta a template part
  parts/post-meta.html
  patterns/archive.php
  patterns/posts-one-column.php
  patterns/template-single-portfolio.php
  templates/single-with-sidebar.html
  templates/single.html
Labels: [Component] Template Parts

#431 Update README with more info on translations
  README.md
Labels: [Type] Documentation

#436 Fix for footer on index template
  templates/index.html
Labels: [Type] Bug

#458 Move the link style CSS to theme.json
  functions.php
  style.css
  theme.json
Labels: [Type] Enhancement, [Status] Do Not Merge

#469 Translations and post meta for Three Featured posts pattern
  patterns/posts-featured.php
Labels: [Component] Block Patterns

#467 Add Milky
  styles/milky.json
Labels: [Component] Style Variations

#456 Audit template types for insertion options
  patterns/template-archive-writer.php
  patterns/template-home-portfolio.php
  patterns/template-index-writer.php
  patterns/template-search-writer.php
Labels: [Status] Do Not Merge

#452 Replace body system font with Inter font
  assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf
  assets/fonts/inter/LICENSE.txt
  theme.json
Labels: [Component] theme.json

#468 Add Mint
  assets/fonts/instrument-sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf
  assets/fonts/instrument-sans/InstrumentSans-VariableFont_wdth,wght.ttf
  assets/fonts/instrument-sans/OFL.txt
  assets/fonts/jost/Jost-Italic-VariableFont_wght.ttf
  assets/fonts/jost/Jost-VariableFont_wght.ttf
  assets/fonts/jost/OFL.txt
  styles/mint.json
  theme.json
Labels: [Component] Style Variations

#433 Style Variation: Ice
  styles/ice.json
Labels: [Component] Style Variations

#486 Make the default home page a pattern so it can be switched back to
  patterns/template-home-business.php
  patterns/template-home-portfolio.php
  patterns/template-home-writer.php
  templates/home.html
Labels: [Component] Block Patterns

#507 Optimize images and descriptions
  assets/images/about.webp
  assets/images/abstract-geometric-art.webp
  assets/images/angular-roof.webp
  assets/images/art-gallery.webp
  assets/images/building-exterior.webp
  assets/images/business-app.webp
  assets/images/business-hero.webp
  assets/images/green-staircase.webp
  assets/images/home.webp
  assets/images/hotel-facade.webp
  assets/images/left-aligned-cta.webp
  assets/images/museum.webp
  assets/images/tourist-and-building.webp
  assets/images/tt4_projectoverview.jpg
  assets/images/windows.webp
  assets/images/writer-avatar.webp
  patterns/features-with-images.php
  patterns/hero.php
  patterns/hidden-full-screen-image.php
  patterns/left-aligned-cta-image.php
  patterns/project-description.php
  patterns/project-layout.php
  patterns/rsvp.php
  patterns/services-cta.php
  patterns/text-title-left-image-right.php
  readme.txt
Labels: [Type] Enhancement

#500 Remove screen-reader-text class from headings
  patterns/hidden-comments.php
  patterns/template-index-portfolio.php
  templates/index.html
Labels: [Type] Bug

#501 Add aria labels to the placeholder footer navigation
  patterns/footer.php
Labels: Accessibility (a11y)

#403 Removed themename in template parts
  patterns/hidden-sidebar.php
  patterns/page-06-writer-home.php
  patterns/posts-featured.php
  patterns/template-archive-portfolio.php
  patterns/template-archive-writer.php
  patterns/template-home-portfolio.php
  patterns/template-home-writer.php
  patterns/template-index-portfolio.php
  patterns/template-index-writer.php
  patterns/template-search-portfolio.php
  patterns/template-search-writer.php
  patterns/template-single-portfolio.php
Labels: [Status] Do Not Merge, [Component] Template Parts
